.h1dand {
  z-index: -100;
}
#h1dand1 {
  top: 5%;
  left: 18%;
}
#h1dand2 {
  top: 23%;
  left: 25%;
}
#h1dand3 {
  top: 18%;
  left: 31%;
}
#h1dand4 {
  top: 5%;
  left: 37%;
}
#h1dand5 {
  top: 25%;
  left: 40%;
}
#h1dand7 {
  top: 35%;
  left: 46%;
}
#h1dand6 {
  top: 15%;
  left: 46.5%;
}
#h1dand8 {
  top: 45%;
  left: 51%;
}

.homeimg1 {
  top: 8%;
}
.homecar-heading {
  top: 35%;
  left: 10%;
}

@media (min-width: 1024px) {
  .homecar-heading {
    font-size: 4rem;
    line-height: 1;
  }
}
