html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(255, 247, 245);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.description,
.footer-head,
.about-heading,
.about-head2,
.name {
  font-family: "Playfair Display", serif;
}
.descd {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  max-width: 85vw;
}
.choicesD,
.about-desc,
.about-desc2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.slick-dots {
  background: "#DF9A80" !important;
}

.slick-active div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  color: rgba(230, 230, 230, 0.904);
}

.vl {
  width: 0.8px;
  height: 6.25rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.footer-brand {
  margin-top: 0 !important;
}

@media (min-width: 787px) {
  .abhinayareddy {
    padding: 2.75rem;
  }
}
.appt {
  background-color: rgba(227, 160, 133, 0.226);
}

.stepss {
  display: flex;
  justify-content: between;
  align-items: center;
  border: #959595 solid 1px;
  border-radius: 10px;
}

.card4 {
  position: absolute;
  width: fit-content !important;
  height: fit-content !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.abimg {
  width: fit-content !important;
  height: fit-content !important;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-head {
  font-family: "Playfair Display", serif;
}
