html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(255, 247, 245);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.description {
  font-family: "Playfair Display", serif;
}
.descd {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  max-width: 85vw;
}
.choicesD {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.slick-dots {
  background: "#DF9A80" !important;
}

.slick-active div {
  display: flex;
  justify-content: center;
  align-items: center;
}
